.modal{
  display: none;
  gap: 30px;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: 1px solid gray;
  z-index: 100;
}

.modal.active{
  display: flex;
}

.title{
  color: gray;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95); 
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
