.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 520px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
}

.image{
  width: 180px;
  height: 270px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: gray;
}

.title{
  width: 180px;
  height: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: gray;
}

.year{
  width: 70px;
  height: 28px;
  border-radius: 8px;
  background-color: gray;
}

.button{
  margin-top: auto;
  margin-bottom: 10px;
  width: 180px;
  height: 28px;
  border-radius: 8px;
  background-color: gray;
}