.main{
  margin-top: 0px;
  margin-inline: auto;
  max-width: 1800px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.sliderWrapper{
  display: flex;
  align-items: center;
}

.recomedationWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filmsWrapper{
  display: flex; 
  flex-direction: column;
  align-items: center;
}