.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
}

.button.active{
  background-color: var(--light);
  color: var(--dark)
}