.main{
  width: 1700px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likesFilms{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}