.select{
  background-color: inherit;
  color: var(--light);
  border-radius: 8px;
  width: 150px;
  height: 30px;
  text-align: center;
  margin-bottom: 20px;

  option{
    background-color: var(--dark);
    border-radius: 8px;
    color: --light;
  }
}