.select{
  background-color: inherit;
  color: gray;
  border-radius: 8px;
  width: 150px;
  height: 30px;
  text-align: center;
  margin-bottom: 20px;

  option{
    background-color: #0d1117;
    border-radius: 8px;
    color: gray;
  }
}