.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 20px;
}

.links{
  display: flex;
  gap: 70px;
}

.buttonsWrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}
