.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
}

.button{
  color: gray;
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 8px;
  width: 100%;
}