.details{
  display: flex;
  flex-direction: column;
  justify-content: center;

  >p{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 15px;
  }
}

.rating{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

.ratingTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}