.mainInfo{
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >h1{
    text-align: center;
  }
}

.image{
  padding: 15px;
  width: 400px;
  img{
    width: 100%;
    border-radius: 16px;
  }
}